<%- include('partials/homeHeader') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-1">Home</h1>
  </div>

</div>

<%- include('partials/footer') %>